# Re-name file to "ecs.cfg"

[setup]
# InfluxDB details
dbhost=""
dbport=8086""
dbuser=""
dbpassword=""
dbname=""

# ECS details
username=""
password=""
clusterIP=""
port="4443"

[token]
X-SDS-AUTH-TOKEN="BAAcNmMrb3ZjN1pnY2lKOWtwUktvL1dadVFUaHlBPQMAjAQASHVybjpzdG9yYWdlb3M6VmlydHVhbERhdGFDZW50ZXJEYXRhOjBiN2FhMzlhLWU4ODctNGQ4Ny05MDdjLTcxNTkzNzYzMjU3ZQIADTE1MjYwODI0Mjc5NjUDAC51cm46VG9rZW46NDdjMWI0NDItZjIyNS00MDg4LThlYmItYTFiNTAwYWE0NzY5AgAC0A8="
